<div class="login-container">
    <div class="block">
        <img class="x"  src="assets/images/x.png">
        <div class="right">
            <h1>Happening now</h1>
            <h2 id="txt2">Join today.</h2>
            <button id="blue">Create account</button>
            <p>
                By signing up, you agree to the
                <a href="/"> Terms of Service </a>  
                and
                <a href=""> Privacy Policy </a>
                 , including 
                <a href=""> Cookie Use </a>
            </p>

            <h2 id="txt3">Already have an account?</h2>
            <button id="transparent"> Sign in</button>
        </div>
    </div>
</div>
