<div class="modal-bg" (click) = "toggleClose()"></div>
<div class="modal-container">
    <div class="modal-header">
        <div class="title">{{Title}}</div>
        <div class="close" (click)="toggleClose()">x</div>
    </div>
</div>

<div class="modal-content">
    <<ng-content></ng-content> >
</div>

<div class="modal-footer">
    <div class="confirmation" *ngIf="Confirmation">
        <button (click)="toggleClose()"></button>
        <button (click)="toggleSave()">{{SaveLabel || "Add to chart"}}</button>
    </div>
</div>