.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.dish{ 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: 2rem;
    gap: 1rem;
}

.title{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    font-size: 34px;
    margin: 2rem;
}