.container{
    display: flex;
    width: 100%;
    height: 100%;
}

.dish{ 
    align-items: center;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    /* grid-template-columns: repeat(4, 1fr); */
    margin: 4rem;
    gap: 1rem;
}

.title{
    color: #FFFFFF;
    margin: 2rem;
}