header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    background-color: #141414;

    width: 100%;
    
}

.links{
    display: flex;
    gap: 1rem;

    color: #B3B3B3;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    text-decoration: none;
}

.header{
    color: #e50914;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}